*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #263a3a;
    
}
.cal-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 300px;
    width: 350px;
}
button{
    height: 50px;
    width: 80px;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #87f0de;
}
.cal-container{
    border-radius: 10px;
    height: 400px;
    width: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 20px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   margin: 10px;
   background-color: #ffffff;
    
}
input{
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
}
input:focus{
    outline: none;
    pointer-events: none;
}
.input-container{
    padding-top: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    
    width: 350px;
    
}
.operator{
    background-color: #05fa5b;
}
.clear{
    background-color: #f70a0a;
}
h1{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}
@media screen and (max-width:465px){
    .cal-container{
        width: 380px;

    }
}
@media screen and (max-width:400px){
    .cal-container{
        width: 350px;
        
    }
    .cal-buttons{
        width: 320px;
    }
    button{
        width: 60px;
    }
    .input-container{
        width: 310px;
        justify-content: start;
    }
    input{
        width: 150px;
    }
}
@media screen and (max-width:400px){
    .cal-container{
        width: 300px;
        padding-left: 15px;
        
    }
    .cal-buttons{
        width: 280px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    button{
        width: 50px;
    }
    .input-container{
        width: 280px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    input{
        width: 155px;
    }
}